.list {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translate(0, -50%);
    height: 40px;
    width: 220px;
    /* background-color: rgb(168, 144, 144); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.listItem {
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
    user-select: none;
    height: 36px;
    line-height: 36px;
    background-color: rgb(71, 127, 150);
    border-radius: 10px;
    transition: all 0.3s;
    cursor: default;
    color: #fff;
}

.listItem:hover {
    background-color: rgb(27, 104, 107);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset;
    color: #fff;
}
.activePage {
    background-color: rgb(27, 104, 107);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset;
    color: #fff;
}
