.addCourseBtn {
    background-color: rgb(66, 54, 54);
    font-size: 700%;
    color: #8a8a8a;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.addCourseImg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
