.addCourseCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.addCourseBtn {
    font-size: 100px;
    color: #8a8a8a;
}

.addCourseText {
    font-size: 16px;
}
