* {
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

html,
body,
#root {
    min-height: calc(100vh - 60px);
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}
/* div::-webkit-scrollbar {
    display: none;
} */

/* input {
    background: none;
    outline: none;
    border: 0px;
    border-radius: 0;
} */

/* div {
    box-sizing: border-box;
} */

/* a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none !important;
} */
