* {
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

html,
body,
#root {
    min-height: calc(100vh - 60px);
    width: 100%;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
    display: none;
}

img {
    -webkit-user-drag: none;
}
