.CourseBox {
    min-height: calc(100vh - 60px);
    background-size: cover;
}

.courseLayout {
    width: 70%;
    min-height: calc(100vh - 60px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    /* background-color: #fff; */
    padding-top: 20px;
}

/* ———————————————————————————————————————————————— */

.courseCard {
    width: 17%;
    position: relative;
    background-color: rgb(243, 243, 243);
    transition: all 0.3s;
    cursor: pointer;
    user-select: none;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 22px;
    border: 2px #ccc solid;
}
.courseCard:hover {
    transform: scale(1.04);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
.courseCard:after {
    display: block;
    width: 100%;
    padding-top: 116%;
    content: '';
    /* position: relative; */
}
.courseCardImgBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 62%;
    background-size: cover;
}
.courseCardTitle {
    position: absolute;
    top: 62%;
    left: 0;
    right: 0;
    height: 15%;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
    padding: 0 12px;
}
.courseCardDesc {
    position: absolute;
    top: 77%;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* background-color: rgb(158, 151, 151); */
}

.deleteCourseBtn {
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: 900;
    top: 6px;
    right: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: all 0.3s;
    background-color: rgb(160, 160, 160);
    color: #fff;
    opacity: 0;
}
.courseCard:hover .deleteCourseBtn {
    opacity: 1;
}
.deleteCourseBtn:hover {
    background-color: red;
}

.courseCardNull {
    width: 17%;
}
.courseCard:after {
    display: block;
    width: 100%;
    padding-top: 116%;
    content: '';
}
