.courseLayout {
    width: 1300px;
    min-height: calc(100vh - 60px);
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

/* ———————————————————————————————————————————————— */
.courseCard {
    margin: 10px 10px;
    border-radius: 20px;
    width: 240px;
    height: 275px;
    overflow: hidden;
    position: relative;
    background-color: rgb(214, 252, 245);
}

.coverImg {
    height: 180px;
}

.deleteCourseBtn {
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: 999;
    top: 6px;
    right: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: all 0.3s;
    background-color: rgb(160, 160, 160);
    color: #fff;
    opacity: 0;
}
.courseCard:hover .deleteCourseBtn {
    opacity: 1;
}
.deleteCourseBtn:hover {
    background-color: red;
}
