.addBox {
    height: 100%;
    width: 100%;
}

.addCenter {
    margin: auto;
    width: 1500px;
    height: 100%;
    display: flex;
}

.addLeft,
.addRight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .addLeft {
    background-color: rgb(67, 199, 216);
}

.addRight {
    background-color: rgb(140, 235, 161);
} */

/* ————————————右边———————————— */

.mobileBox {
    position: fixed;
    width: 360px;
    height: 760px;
    background-color: #ededed;
    border-radius: 24px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.mobileTime {
    padding: 0 16px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    user-select: none;
}

.mobileTitle {
    user-select: none;
    height: 44px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #dbdbdb;
}
.mobileTitle span {
    font-size: 16px;
}
.mobileBody {
    height: 682px;
    padding: 14px;
    overflow-y: auto;
    user-select: none;
}
.mobileBody::-webkit-scrollbar {
    display: none;
}
.courseContent {
    padding: 10px;
    width: 80%;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 10px;
    word-break: break-all;
}
.contentZh {
    font-size: 22px;
}
.contentEn {
    font-size: 16px;
}
.courseImg {
    width: 160px;
    height: 160px;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
}
.courseImg img {
    width: 100%;
    height: 100%;
}
.courseVoice {
    padding: 10px;
    font-size: 16px;
    height: 34px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    width: 80px;
    user-select: none;
    margin-bottom: 10px;
}
.courseTest {
    padding: 10px;
    width: 80%;
    background-color: #fff;
    border-radius: 12px;
    font-size: 16px;
    margin-bottom: 10px;
    word-break: break-all;
}
.answer {
    padding: 10px;
    width: 80%;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 10px;
}
.answerItem {
    height: 24px;
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
    transition: all 0.3s;
}
.answerItem:hover {
    background-color: rgb(223, 223, 223);
}
.answerItem:last-child {
    margin-bottom: 0;
}
.answerItemIndex {
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    border-right: 1px solid #ededed;
}
.answerItemContent {
    text-align: center;
    height: 22px;
    line-height: 22px;
    flex: 1;
}

/* ——————————————————————左边————————————————————————— */
.inputBox {
    width: 600px;
    height: 760px;
    /* background-color: #ededed; */
}

.backBtn {
    margin-right: 20px;
}

.addBtns {
    height: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.addBtns Button {
    margin-right: 10px;
}

.courseItem {
    font-size: 18px;
}

.autoItem {
    margin-bottom: 6px;
}

.selectImg {
    display: none !important;
}
