.addBox {
    min-height: calc(100vh - 60px);
    width: 100%;
}

.addBox .addBtnBox {
    float: right;
}

.addCenter {
    min-height: calc(100vh - 60px);
    margin: auto;
    width: 90%;
    display: flex;
}

.addLeft {
    flex: 1.5;
}

.addLeft,
.addRight {
    min-height: calc(100vh - 60px);
}

.addRight {
    flex: 1;
    position: relative;
}

/* ——————————————————————左边————————————————————————— */
.inputBox {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    padding: 30px 0;
}

.optionalBox {
    flex: 1;
    height: calc(100vh - 60px - 704px - 40px);
    overflow-y: auto;
}

.backBtn {
    margin-right: 20px;
}

.addBtnItem {
    margin-bottom: 6px;
}

.addBtns Button {
    margin-right: 10px;
}

.courseItem {
    font-size: 18px;
}

.autoItem {
    margin-bottom: 6px;
}

.selectFile {
    display: none !important;
}

/* ————————————右边———————————— */
/* 手机主体 */
.mobileBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 46%;
    background-color: #ededed;
    border-radius: 24px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.mobileBox:after {
    display: block;
    width: 100%;
    padding-top: 211.11%;
    content: '';
    position: relative;
}

.mobileTime {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 6%;
    height: 4.6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    user-select: none;
    z-index: 10;
}

.mobileTitle {
    position: absolute;
    top: 4.6%;
    left: 0;
    right: 0;
    user-select: none;
    /* height: 44px; */
    height: 6%;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #dbdbdb;
    z-index: 10;
}

.mobileTitle span {
    font-size: 15px;
}

.mobileBody {
    position: absolute;
    top: 10.6%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2%;
    user-select: none;
    z-index: 10;
}

.mobileBody::-webkit-scrollbar {
    display: none;
}

.mobileBodyScreen {
    height: 100%;
    overflow-y: auto;
    border-radius: 0 0 20px 20px;
}

/* 设置滚动条的样式 */
.mobileBodyScreen::-webkit-scrollbar {
    width: 10px;
}
/* 滚动槽 */
.mobileBodyScreen::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
/* 滚动条滑块 */
.mobileBodyScreen::-webkit-scrollbar-thumb {
    background-color: rgb(197, 197, 197);
    border-radius: 12px;
}

.courseContent {
    padding: 10px;
    width: 80%;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 10px;
    word-break: break-all;
}

.contentZh {
    font-size: 18px;
}

.contentEn {
    font-size: 16px;
}

.courseImg {
    width: 44%;
    height: 0;
    padding-top: 44%;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 10px;
    position: relative;
}

.courseImg img {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.courseVoice {
    padding: 10px;
    font-size: 16px;
    height: 34px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    width: 110px;
    user-select: none;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.courseVoice:hover {
    background-color: rgb(223, 223, 223);
}

.courseVideo {
    display: inline-block !important;
    width: 250px;
    margin: 8px 0px 0px 3px;
}

.courseTest {
    padding: 10px;
    width: 80%;
    background-color: #fff;
    border-radius: 12px;
    font-size: 16px;
    margin-bottom: 10px;
    word-break: break-all;
}

.answer {
    padding: 10px;
    width: 80%;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 10px;
}

.answerItem {
    height: 24px;
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
    transition: all 0.3s;
}

.answerItem:hover {
    background-color: rgb(223, 223, 223);
}

.answerItem:last-child {
    margin-bottom: 0;
}

.answerItemIndex {
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    border-right: 1px solid #ededed;
}

.answerItemContent {
    text-align: center;
    height: 22px;
    line-height: 22px;
    flex: 1;
}

.voiceVideo {
    display: none;
    width: 80px;
    height: 30px;
    background-color: rgb(146, 122, 122);
}
