header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #18263c;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 40px;
    z-index: 999;
}

.placeholderBox {
    height: 60px;
}

.logo {
    font-size: 48px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.logoutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    background-color: rgb(43, 142, 223);
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    user-select: none;
    border-radius: 14px;
    transition: all 0.3s;
}

.logoutBtn:hover {
    background-color: rgb(14, 126, 218);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
