.welcomeBox {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
}

.left,
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    height: calc(100vh - 60px);
    font-size: 80px;
    font-weight: 700;
    background-color: rgb(77, 241, 228);
}

.right {
    height: calc(100vh - 60px);
    background-color: rgb(65, 206, 194);
}
