.courseCard {
    margin: 10px 10px;
    border-radius: 20px;
    width: 240px;
    height: 275px;
    overflow: hidden;
}

.coverImg {
    height: 180px;
}

.extraImg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.712);
    opacity: 0;
}

.extraImg:hover {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.712);
    opacity: 100%;
}